body{
  background-color: aliceblue;
}
.page-container {
  display: grid;
  grid-template-rows: 64px auto;
  height: 100vh;
}

.page-content {
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: center;
  height: 100%;
}
.page-post{
  align-items: start;
}

.form-container {
  width: 400px;
  padding: 10px;
}
.form-login{
  width: 300px;
}

.drawer-content {
  width: 250px;
}

div.avatar {
  width: 128px;
  height: 128px;
  border: 1px solid grey;
  margin: auto;
}
.cursor-pointer{
  cursor: pointer;
}
.post-container{
  padding: 10px;
}
.post, .margin10{
  margin: 15px 0;
}
p.help-text{
  margin-top: 10px;
  color: darkgray;
  font-size: 12px;
}