.page-container {
  display: grid;
  grid-template-rows: 64px auto;
  height: 100vh;
}

.page-content {
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: center;
  height: 100%;
}

.form-container {
  width: 300px;
  padding: 10px;
}

.drawer-content {
  width: 250px;
}

div.avatar {
  width: 128px;
  height: 128px;
  border: 1px solid grey;
  margin: auto;
  cursor: pointer;
}